{% block content %}
    <div class="bootstrap-wrapper">
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{ error|trans }}
                </div>
            {% endfor %}
        {% endif %}
        {% if feedback is defined and feedback %}
            <div class="alert alert-success">
                {{ feedback|trans }}
            </div>
        {% endif %}

        <form method="post" action="{{ path('hengebytes_settings_index') }}"
            {% if is_production_env %}
                onsubmit="return prompt('{{ 'Please type current domain to update sensitive settings.'|trans }} ' + window.location.host) === window.location.host"
            {% endif %}
        >
            <h2 class="h3  u-margin-t-m">{{ 'Settings'|trans }}</h2>
            {% for group, settings in grouped_settings %}
                <div class="card panel-primary">
                    <div class="card-header">
                        <h3 class="panel-title">{{ group }}</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-condensed u-margin-b-n">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'Name'|trans }}</th>
                                <th>{{ 'Value'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody class="existing-settings">
                            {% for setting in settings %}
                                <tr>
                                    <td>
                                        <div class="checkbox u-margin-v-n">
                                            <input type="checkbox" name="selected_settings[]" value="{{ setting.name }}"/>
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="settings[{{ setting.name }}][name]" value="{{ setting.name }}"/>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            {% if setting.isSensitive %}
                                                <span class="input-group-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"></path>
                                                    </svg>
                                                </span>
                                                <input type="hidden" name="settings[{{ setting.name }}][is_sensitive]" value="{{ setting.isSensitive }}">
                                                <input type="text" class="form-control input-sm" aria-label="Value input" name="settings[{{ setting.name }}][value]" value="" placeholder="{{ setting.value }}">
                                            {% else %}
                                                <input type="text" class="form-control input-sm" aria-label="Value input" name="settings[{{ setting.name }}][value]" value="{{ setting.value }}">
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
            <div class="u-margin-t-m">
                <input class="btn btn-primary" type="submit" value="{{ 'Update selected'|trans }}"
                       name="UpdateButton"/>
                <input class="btn btn-danger" type="submit" value="{{ 'Delete selected'|trans }}"
                       name="DeleteButton"
                       onclick="return confirm('{{ 'Do you really want to delete selected settings?'|trans }}');"/>
            </div>
        </form>
        <form class="card panel-default u-margin-t-l" method="post" action="{{ path('hengebytes_settings_index') }}">
            <div class="card-header">
                <h3 class="panel-title">{{ 'New Setting'|trans }}</h3>
            </div>
            <div class="card-body">
                <div class="row u-margin-b-m">
                    <div class="col-lg-6">
                        <label for="new-key">{{ 'Name'|trans }}:</label>
                        <input id="new-key" class="form-control" type="text" name="new[name]" value=""/>
                    </div>
                    <div class="col-lg-6">
                        <label for="new-value">{{ 'Value'|trans }}:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">{{ 'Sensitive'|trans }}</span>
                            <div class="input-group-text">
                                <input id="new-sensitive" class="form-check-input" type="checkbox" name="new[is_sensitive]" value="1"  aria-label="Sensitive selector"/>
                            </div>
                            <input id="new-value" class="form-control" type="text" name="new[value]" value=""/>
                        </div>
                    </div>
                </div>

                <input class="btn btn-primary" type="submit" value="{{ 'Create'|trans }}" name="CreateButton"/>
            </div>
        </form>
    </div>
{% endblock %}
